$primary-text-color: #333333;
$first-accent-color: #ef633e;
$second-accent-color: #5dc4b8;
$buttons-light-color: #ffffff;
$primary-bg-color: #ffffff;
// $secondary-bg-color: #f2f2f2;
$transparent-text: rgba(51, 51, 51, 0.5);

$title-text-font: 'Elsie', cursive;
