.section-pretitle {
  margin-top: 0;
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
  color: $first-accent-color;
}

.section-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: $title-text-font;
  font-size: 40px;
  line-height: 1.2;
}

.section-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 2;
}
