.glide {
  margin-bottom: 48px;
}

.glide__track {
  overflow: visible;
  margin-bottom: 48px;
}

.glide__slides {
  overflow: visible;
}

.glide__bullet {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: transparent;
  background-color: $first-accent-color;

  &:not(:last-child) {
    margin-right: 18px;
  }
}
