.about {
  padding-top: 392px;
  padding-bottom: 80px;

  .section-text {
    margin-bottom: 16px;
  }
}

.about-posttitle {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 2;
}
