.about {
  position: relative;

  .section-text {
    margin-bottom: 16px;
  }
}

.about-images {
  position: absolute;
  top: -32px;
}

.about-posttitle {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 2;
}
