.order {
  padding-top: 112px;
  padding-bottom: 86px;

  .section-text {
    margin-bottom: 38px;
  }
}

.order-card {
  padding: 60px 56px;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;
}
